<div class="relative">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-y-2">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" />
        <mat-error
          *ngIf="
            profileForm.get('firstName')?.invalid &&
            profileForm.get('firstName')?.touched
          "
        >
          First Name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName" />
        <mat-error
          *ngIf="
            profileForm.get('lastName')?.invalid &&
            profileForm.get('lastName')?.touched
          "
        >
          Last Name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          type="email"
        />
        <mat-error
          *ngIf="
            profileForm.get('email')?.invalid &&
            profileForm.get('email')?.touched
          "
        >
          Valid Email is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Phone Number"
          formControlName="phoneNumber"
        />
        <mat-error
          *ngIf="
            profileForm.get('phoneNumber')?.invalid &&
            profileForm.get('phoneNumber')?.touched
          "
        >
          Phone Number must contain only numbers.
        </mat-error>
      </mat-form-field>

      <div class="h-20">
        <input type="file" (change)="onFileChange($event)" />
        <div *ngIf="profilePicture" class="relative w-20 h-20 mt-3">
          <img [src]="profilePicture" class="w-full object-cover" />

          <button
            type="button"
            (click)="removeImage()"
            class="absolute top-0 right-0 bg-gray-700 text-white rounded-full w-6 h-6 flex items-center justify-center"
          >
            &times;
          </button>
        </div>
      </div>

      <div class="mt-12 flex gap-4">
        <button mat-flat-button type="submit" [disabled]="profileForm.invalid">
          Save
        </button>
        <button mat-flat-button type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>

    <div
      *ngIf="loading"
      class="absolute inset-0 flex justify-center items-center bg-gray-700 bg-opacity-50 z-10"
    >
      <mat-spinner diameter="80"></mat-spinner>
    </div>
  </form>
</div>
