<section class="h-screen flex flex-col">
  <header class="bg-blue-600 text-white p-4 shadow-lg">
    <nav class="container mx-auto flex justify-between items-center">
      <div class="text-lg font-bold">
        <p class="text-2xl font-bold text-white !my-0"> Hello {{userName}}!</p>
      </div>
      <div>
        <button id="edit-button" (click)="navigate()"> {{buttonText}} </button>
      </div>
    </nav>
  </header>

  <section class="container mx-auto py-8 flex-grow flex items-center justify-center mt-6 mb-6">
    <router-outlet></router-outlet>
  </section>

  <footer class="bg-gray-800 text-white p-4">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 User profile edit feature. All rights reserved.</p>
    </div>
  </footer>
</section>
